.grid-container {
display: grid;
grid-template-columns: repeat(15%, 1fr);
grid-template-rows: (1fr, 5fr,1fr);
grid-template-areas:
"header header"
"side main"
side footer
gap: 12px;
}

.grid-container > * {
border: 1px solid #000;
padding: 0.5em;}

.heading {
grid-column: 1/-1;
font-weight: bold;
display: flex;
justify-content: space-between;
}
